$primary-color: #3CFFD0;
$secondary-color: #C6C6C6;
$ternary-color: #848484;
$quaternary-color: #797979;
$text-basic-color: #FFFFFF;
$text-basic-color-2: #AEAEAE;
$background-basic-color: #131313;
$background-basic-color-2: #000000;

$font-size-h1: 2.75rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-h4: 1.25rem;
$font-size-h5: 18px;
$font-size-p1: 16px;
$font-size-p2: 0.875rem;

$font-family-primary: 'Anton';
$font-family-secondary: 'Poppins';

$mobile: 767px;
$mobile-small: 500px;
